<h2>Paises</h2>
<hr>
<ul class="list-group">
    <!-- <li
    routerLink="home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item d-flex justify-content-between align-items-center">
        HomePage
        <span class="badge bg-secondary badge-pill"></span>
    </li>
    <li 
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item d-flex justify-content-between align-items-center ">
        About
        <span class="badge bg-secondary badge-pill"></span>
    </li>
    <li 
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item d-flex justify-content-between align-items-center ">
        Contact
        <span class="badge bg-secondary badge-pill"></span>
    </li> -->
    
    <li 
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item d-flex justify-content-between align-items-center ">
        Por capital
        <span class="badge bg-secondary badge-pill"></span>
    </li>
    
    <li 
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item d-flex justify-content-between align-items-center ">
        Por país
        <span class="badge bg-secondary badge-pill"></span>
    </li>

    <li 
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item d-flex justify-content-between align-items-center ">
        Por región
        <span class="badge bg-secondary badge-pill"></span>
    </li>
</ul>
